{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}


{% block body %}
    <h1 style="margin-left: 90px;" id="currentuser" data-profile_ownerId="{{profile_owner.id}}" data-myId="{{user.id}}">{{profile_owner.username}}</h1>
    <div class="follow_situation">
        <h4>Following: {{following_number}}</h4> 
        <h4>Followers: {{follower_number}}</h4>
    </div>

    <div id="content">
    {% if user.is_authenticated %}
        {% if requestUser != profile_owner %}
            {% if followed == False %}
                <form action="{% url 'follow' %}" method="post" >
                {% csrf_token %}
                <input type="hidden" id="" name="profile_owner_id" value="{{profile_owner.id}}">
                <input type="hidden" id="" name="user_id" value="{{user.id}}">
                <input id="follow" class="btn btn-primary" type="submit" value="Follow" style="margin-left: 90px;">
            {% else %}
                <form action="{% url 'follow' %}" method="post" >
                {% csrf_token %}
                <input type="hidden" id="" name="profile_owner_id" value="{{profile_owner.id}}">
                <input type="hidden" id="" name="user_id" value="{{user.id}}">
                <input id="unfollow" class="btn btn-primary" type="submit" value="Unfollow" style="margin-left: 90px;">{% endif %}
        
        {% endif %}
    {% endif %}

        {% for post in posts %}
        <div id="post">
            <h3>{{post.user}}</h3>
            <div id="replaceTextarea{{post.id}}">
                {% if post.user == requestUser %}
                    <a href="#" class="edit" value="{{post.id}}" onclick="editpost(this)">Edit</a>
                {% endif %}
                <p id="message">{{post.content}}</p>
                <p id="time">{{post.created_at}}</p>
                    {% if user.is_authenticated %}
                        {% if post.is_liked == True %}
                        <button type="button" class="btn btn-secondary" value="{{post.id}}" style="background-color: rgb(255, 57, 57);" onclick="like(this)">Unlike</button>
                        {% else %}   
                        <button type="button" class="btn btn-secondary" value="{{post.id}}" style="background-color: rgb(255, 57, 57);" onclick="like(this)">Like</button>
                        {% endif %}
                    {% else %}
                    <button type="button" class="btn btn-secondary" value="{{post.id}}" style="background-color: rgb(255, 57, 57);" onclick="unloginlike()">Like</button>
                    {% endif %}
                    <p id="like_number">{{post.like}}<p>
            </div>
            <div id="p{{post.id}}" style="display: none;">
                
                <textarea name="edit-post" id="new-content{{post.id}}" value="{{post.content}}" style="width: 100%; border-radius: 5px;"></textarea>
                <button id="save" onclick="savepost(this)" class="btn btn-primary" value="" style="margin-top: 10px;margin-left: 30px;">Save</button>
                
            </div>
        </div>
        {% empty %}
            <h3>No post</h3>
        {% endfor %}

    </div>

    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            <li class="page-item">
                {% if posts.has_previous %}
                    <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% endif %}
                
            </li>
            <li class="page-item"><a class="page-link" href="?page={{ posts.number }}">{{ posts.number }}</a></li>
                
            <li class="page-item">
                {% if posts.has_next %}
                    <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
                
            </li>
            </ul>
        </nav>
    </div>
    


{% endblock %}
